body {
  background-color: #121212;
}
.text-1 {
  font-style: italic;
  color: #d6d6d6;
}
.nav-link {
  color: #d6d6d6;
  padding: 10px;
}
.active-nav {
  background-color: #3a4a5a;
  color: #d6d6d6;
  border-radius: 8px;
}
.logo-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.text-2 {
  color: #d6d6d6;
}
.btn-1 {
  background-color: #1e1e1e;
}
.card {
  border-radius: 16px;
  overflow: hidden;
}
.card-img-top {
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}
.card-body {
  padding: 1.5rem;
}
.p-text {
  color: #9ca3af;
}
.img-1 {
  border-radius: 20px;
}
.workshop-list li {
  margin-bottom: 14px;
  line-height: 1.7;
}
.learning-card {
  background-color: #1b1f24;
  border: 1px solid #2a2f36;
  border-radius: 20px;
  transition: 0.3s ease;
}

.learning-card:hover {
  transform: translateY(-5px);
  border-color: #3b4450;
}
